.team_member_card {
  // max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 500px;
  border: 1px solid black;
  margin-bottom: 2px;
  .left {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: "550px") {
  .team_member_card {
    min-width: unset;
    display: block;
    max-height: unset;
  }
}
