.main {
  margin-top: 30px;
  padding: 10px;
  height: 700px;
  overflow-y: scroll;
  // box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.37);
  // -webkit-box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.37);
  // -moz-box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.11);
  table.userTable {
    width: 100%;
    thead {
      text-align: left;
      background-color: #aaa;
      padding: 4px;
    }
    th {
      font-weight: 500;
    }
    tr {
      padding: 3px;
      margin-block: 3px;
      text-align: left;
      max-height: 50px;
      height: 100%;
      img {
        height: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
      }
      td:first-of-type {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        height: 50px;
        .userDetails {
          :first-child {
            font-weight: 500;
          }
          :last-child {
            font-weight: 400;
          }
        }
      }
      td:nth(4) {
        text-transform: capitalize;
      }
      td#actionBtns {
        button {
          cursor: pointer;
          //   background-color: unset;
          border: none;
          outline: none;
          background-color: #eee;
          //   padding: 1px 2px;
          font-weight: 500;
          border-radius: 30%;
        }
      }
      td {
        input#add2team {
          margin-left: 15px;
          transform: scale(2);
        }
      }
    }
  }
}
