.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .cancel {
    cursor: pointer;
  }
  .modal-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-weight: 500;
    }
  }
  .radioBtns {
    display: flex;
    gap: 5px;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
}

.modal-container {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
