.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  .modal-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-weight: 500;
    }
  }
  .row1 input:first-of-type {
    margin-bottom: 10px;
  }
  .row {
    margin-block: 10px;
  }
}
